* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    background-color: #556b2f;
    color: white;
    text-align: center;
    width: 75%;
    margin: 0 auto
}

h1, h2, h3, h4, h5, h6 {
    line-height: 150%
}

ol, ul {
    line-height: 130%
}

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.ingredients,
.ingredients h2,
.ingredients li {
    font-family: "Lucida Handwriting", "Brushscript MT", cursive;
    background-color: lightgray;
}

.recipe-source {
    font-style: italic
}

.image-container {
    position: relative;
    text-align: center
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #556b2f90;
}